name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dlsVibrationTools = {editable = true, extras = ["dev"], path = "."}
sphynx = "*"

[packages]
dlsVibrationTools = {editable = true, path = "."}
aapy = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"

[scripts]
lint = "pre-commit run --all-files --show-diff-on-failure --color=always -v"
tests = "pytest"
docs = "sphinx-build -EWT --keep-going docs build/html"
#docs = "sphinx-autobuild build/html"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
